__pycache__/
*.pkl
!model.pkl
!model_htf.pkl
!model_ltf.pkl
!model_4d.pkl
!model_1d.pkl
!model_12h.pkl
!model_4h.pkl
!model_1h.pkl
!model_15m.pkl
.venv
.env
.DS_Store
backtest_result.png
processed_signals.json